.navbar-wrapper{
    background: #003580;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navabar-container{
    width: 100%;                                                                                                    
    /* background: red; */
    max-width: 1024px;
    color:white;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar-logo{
    font-weight: 500;

}
.navbar-button{
    margin-left:20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}