.header-wrapper{
    background: #003580;
    color: white;
    display: flex;
    justify-content:center;
    position: relative;
}
.header-container{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 100px;
}

/* DEFINE THE STYLE ID THE PAGES IN /list */
.header-container.list-mode{
    margin: 20px 0px 0px 0px;
}
.header-list{
    display:flex;
    gap: 40px;
}
.header-list-item{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 50px;
}

.header-list-item.active{
    border:1px solid white;
    padding:10px;
    border-radius: 20px;
}
.headerDesc{
    margin: 20px 0px;
}
.header-button{
    background: #0071c2;
    color:white;
    border: none;
    padding:10px;
    font-weight: 500;
    cursor: pointer;
}
.header-search{
    height: 30px;
    background: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position:absolute;
    bottom:-25px;
    width: 100%;
    max-width: 1024px;;

}
.header-icon{
    color:lightgray;
}

.header-search-item{
    display:flex;
    align-items:center;
    gap:10px;
}
.header-search-input{
    border: none;
    outline: none; 
}

.header-search-text{
    color:lightgray;
    cursor: pointer;
}

.date{
    position:absolute;
    top: 50px;
}

.options{
position: absolute;
top: 50px;
background:white;
color:gray;
border-radius: 5px;
box-shadow: 10px 5px 23px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 5px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 5px 23px 0px rgba(0,0,0,0.75);
}

.option-item{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin:10px;
}
.option-counter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.option-counter-button{
    width: 30px;
    height: 30px;
    border:1px solid #0071c2;   
    color: #0071c2;
    background: white;
    cursor: pointer;
}


.option-counter-button:disabled{
    cursor: not-allowed;
}